@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'DIN';
  src: local('DIN'), url('../public/DINNeuzeitGroteskStdLight.otf') format('opentype');
}
html,
body {
  padding: 0;
  margin: 0;
  background-color: black;
  font-family: DIN;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
